{
    "extends": ["prettier"],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "plugins": [
        "babel",
        "react",
        "promise"
    ],
    "env": {
        "es6": true,
        "browser": true,
        "jest": true
    },
    "rules": {
        "prefer-const": "error"
    }
}